@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
.contentMain,
select,
textarea {
	color: black;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	background-image: "images/solid-brown-background.jpg";
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

html {
	background-color: gray;
}

body{
	display:flex;
	justify-content: center;
}

header{
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
	max-width: 600px;
}

option{
	color: black;
}

.contentMain {
	display: flex;
	justify-content: center;
	flex-flow: column wrap;
	max-width:600px;
}

.button{
	display:flex;
	justify-content: center;
}

.conceptCovered{
	padding-right: 100px;
}

.journalEntry{ 
	border-bottom: black;
}