@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
.contentMain,
select,
textarea {
	color: black;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	background-image: "images/solid-brown-background.jpg";
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

html {
	background-color: gray;
}

body{
	display:flex;
	justify-content: center;
	max-width: 1250;
}

header{
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
	max-width: 620px;
}

option{
	color: black;
}

.contentMain {
	display: flex;
	justify-content: center;
	flex-flow: column wrap;
	width: 650px;
	margin: 0;
	padding: 0;
}

.buttons{
	display:flex;
	justify-content: center;
	flex-direction: column;
	margin-right: 250px;
	margin-left: 250px;
}


  .submitButton{
	font-size: medium;
	font-weight: bold;
	border-radius: 8px;
	font-family: "Comfortaa", Arial, sans-serif;
  }

  .submitButton:hover {
	background-color: black; /* Green */
	color: white;
  }

  .updateButton{
	font-size: medium;
	font-weight: bold;
	border-radius: 8px;
	font-family: "Comfortaa", Arial, sans-serif;
  }

  .updateButton:hover {
	background-color: black; /* Green */
	color: white;
  }

  .clearButton{
	font-size: medium;
	font-weight: bold;
	border-radius: 8px;
	font-family: "Comfortaa", Arial, sans-serif;
  }

  .clearButton:hover {
	background-color: black; /* Green */
	color: white;
  }

  .filterButton{
	border-radius: 8px;
	font-family: "Comfortaa", Arial, sans-serif;
  }

  .filterButton:hover {
	background-color: black; /* Green */
	color: white;
  }

.conceptCovered{
	padding-right: 100px;
}

.journalEntry{ 
	border-style: solid;
}

form{
	max-width: 650px;
}